:root {
  font-family:
    'IBM Plex Mono',
    'Courier New',
    Courier,
    monospace;
  line-height: 1.5;
  font-weight: 900;
  color: #111111;
  background-color: #f3f3f1;
  background-image:
    radial-gradient(ellipse, rgba(0, 0, 255, 0.329) 3.8px, transparent 3.8px),
    radial-gradient(ellipse, rgba(175, 175, 175, 0.48) 3.8px, transparent 3.8px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: auto;
}

* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
}

a {
  color: inherit;
}